
.z-toolbar {
  display: flex;
}

/* 开始--> 修改按钮默认样式 */
.z-toolbar .z-formats button {
  background: none;
  border: none;
  cursor: pointer;
  display: inline-block;
  /* float: left; */
  height: 24px;
  padding: 3px 5px;
  /* width: 28px; */
}

.z-toolbar .z-formats button:hover {
  color: #06c;
}

/* 结束--> */