
/* 开始--> 修改按钮默认样式 */
.z-toolbar .z-formats button {
  background: none;
  border: none;
  cursor: pointer;
  padding: unset;
}

.z-toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
}

.z-toolbar .division-line {
  display: flex;
  align-items: center;
  width: 1px;
  height: 14px;
  background-color: #e1e6ed;
}

.z-toolbar .z-formats {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.z-toolbar .z-formats button:hover {
  color: #06c;
}

/* 结束--> */